---
import {Image} from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";
import uddug from "../../assets/cases/uddug.png";
import uranus from "../../assets/cases/uranus.png";
import miracletree from "../../assets/cases/miracletree.png";
import rigida from "../../assets/cases/rigida.png";
import avd from "../../assets/cases/avd.png";
import gen from "../../assets/cases/gen.png";

const cards = [
    {
        title:
            "For a local restaurant, we implemented a targeted PPC campaign that led to a 25% increase in sales. By focusing on local intent and optimizing ad creatives, we reduced the average cost-per-click to just $0.15, resulting in a profitable and sustainable growth channel.",
        tags: ['PPC marketing']
    },
    {
        title: 'Redesign of a website for an IT company, including brand identity refresh and improved site structure. Integration of the Telegram API to send real-time notifications for submitted contact requests.',
        image: uddug,
        tags: ['Design', 'Development'],
    },
    {
        title: 'Landing page design and development for the Web3 card game Uranus, enhanced with motion and parallax animations to deliver an engaging and interactive user experience.',
        image: uranus,
        tags: ['Design', 'Development', 'Animation'],
    },
    {
        title:
            "For a local beauty service company, we developed a website and an SEO strategy that resulted in a first-page ranking for key keywords and a 300% increase in organic traffic.\n" +
            "\n" +
            "Thanks to this traffic growth and a reduction in bounce rate from 35% to just 10%, the client now has almost no open appointment slots. Additionally, sales of gift certificates have increased by 4x.",
        tags: ['SEO-optimisation']
    },
    {
        title:
            "For a national retail chain, we created a new website and an SEO strategy that resulted in a 3x increase in organic traffic shortly after launch. We then shifted our focus to a more in-depth SEO optimization process, which now saves the company over $8,000 per month compared to equivalent paid traffic costs — and the growth continues month over month.",
        tags: ['SEO-optimisation']
    },
    {
        title: 'High-performance website development tailored for deployment on IPFS (InterPlanetary File System). Includes a custom blog module with a flexible and user-friendly content management system.',
        image: miracletree,
        tags: ['Development', 'Animation'],
    },
    {
        title: 'Development of an online store for the local clothing brand "Genskorosti". Integration of a payment system and a delivery module, along with the setup of an internal CRM system.',
        image: gen,
        tags: ['Design', 'Development'],
    },
    {
        title:
            "For a local medical clinic, we developed a comprehensive digital marketing strategy including SEO and targeted Google Ads campaigns. This approach led to a 40% increase in appointment bookings within three months. By optimizing the website’s user experience and implementing remarketing ads, we reduced the cost per lead by 30%, making patient acquisition more efficient and sustainable.",
        tags: ['SEO-optimisation']
    },
    {
        title: 'Redesign and development of an informational website with a catalog. Implementation of subdomains for regional and international representatives. Integration of an online chat. In the first month after the redesign, traffic doubled, and positive growth continues. Comprehensive SEO optimization is underway. A significant number of categories have been ranked in the top-3 and top-5 search results.',
        image: avd,
        tags: ['Design', 'Development', 'SEO-optimisation'],
    },
    {
        title: 'Redesign and development of an informational turnkey website for a furniture manufacturer. The site includes a service catalog, portfolio of works, customer testimonials, job vacancies, and company news.',
        image: rigida,
        tags: ['Design', 'Development', 'Animation'],
    },
];

import larrow from "../../assets/icon3.svg";
import SectionTitle from "../ui/SectionTitle.astro";
---

<Section id="cases">
    <div class="mt-[140px]">
    <SectionTitle
            sectionTitle="Case Studies"
            description="What we've delivered"
    />
    <div class="flex flex-col gap-2.5 lg:grid lg:grid-cols-2 justify-between rounded-[45px] p-1" id="cases-container">
        {
            cards.map((card, index) => (
                    <Card>
                        <div class="relative flex p-10 md:p-[60px] max-md:min-h-[300px] md:min-h-[350px] h-full bg-dark text-gray rounded-[45px] m-[1px] hover:[&_img]:opacity-0 hover:[&_p]:line-clamp-none">
                            {card.image && <Image class="duration-300 ease-in-out absolute max-md:aspect-video md:h-full md:w-full object-cover top-0 right-0 bottom-0 left-0 rounded-[45px]" src={card.image} alt={card.title} />}
                            <div class="flex flex-col gap-5">
                                <p class=`whitespace-pre-wrap ${card.image && 'line-clamp-6 md:line-clamp-none'}`>{card.title}</p>
                                <div class="flex items-center flex-wrap gap-2 mt-auto">
                                    {card.tags.map((tag, index) => (
                                            <>
                                                <span class="text-green">{tag}</span>
                                                {index !== card.tags.length - 1 &&
                                                        <span class="text-green">/</span>
                                                }
                                            </>
                                    ))}
                                </div>
                            </div>
                        </div>
                    </Card>
            ))
        }
    </div>
        <div class="flex justify-center">
            <button class="mt-10 btn-primary mx-auto" id="cases-more-button">Show more</button>
        </div>
    </div>
</Section>
<script is:inline>
    const moreButton = document.getElementById("cases-more-button");
    const casesContainer = document.getElementById("cases-container");
    const cards = Array.from(casesContainer.querySelectorAll('& > div'));
    const CARDS_TO_SHOW = 8;

    cards.slice(CARDS_TO_SHOW).forEach((caseCard) => {
        caseCard.classList.add('hidden');
    })

    if (cards.length <= CARDS_TO_SHOW) moreButton.classList.add('hidden');

    if (moreButton && casesContainer) {
        moreButton.addEventListener("click", function () {
            cards.slice(CARDS_TO_SHOW).forEach((caseCard) => caseCard.classList.toggle('hidden'))

            moreButton.textContent = moreButton.textContent === 'Show more' ? 'Show less' : 'Show more';
        })
    }
</script>