---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.png";
import c2 from "../../assets/pics/card-pic2.png";
import c3 from "../../assets/pics/card-pic3.png";
import c4 from "../../assets/pics/dApp.png";
import c5 from "../../assets/pics/card-pic5.png";
import c6 from "../../assets/pics/web-site.jpg";
import c7 from "../../assets/pics/web-app.png";
import c8 from "../../assets/pics/mini-app.png";

const cards = [
    {
        index: 1,
        titleTop: "Search Engine",
        titleBottom: "Optimization",
        img: c1,
        alt: "SEO",
        link: "/contacts",
    },
    {
        index: 2,
        titleTop: "Web-site",
        titleBottom: "Design & Development",
        img: c6,
        alt: "Web dev",
        link: "/contacts",
    },
    {
        index: 3,
        titleTop: "Social Media",
        titleBottom: "Marketing",
        img: c3,
        alt: "SMM",
        link: "/contacts",
    },
    {
        index: 1,
        titleTop: "Telegram Mini App",
        titleBottom: "Design & Development",
        img: c8,
        alt: "Mini Apps",
        link: "/contacts",
    },
    {
        index: 2,
        titleTop: "Web Application",
        titleBottom: "Design & Development",
        img: c7,
        alt: "Web App",
        link: "/contacts",
    },
    {
        index: 3,
        titleTop: "Pay-per-click",
        titleBottom: "Advertising",
        img: c2,
        alt: "PPC",
        link: "/contacts",
    },
    {
        index: 1,
        titleTop: "dApp",
        titleBottom: "Design & Development",
        img: c4,
        alt: "dApp",
        link: "/contacts",
    },
    {
        index: 2,
        titleTop: "UX / UI",
        titleBottom: "Design",
        img: c5,
        alt: "UX / UI",
        link: "/contacts",
    },

];

const description =
    "Choose your journey";
---

<Section id="services">
    <div class="mt-[140px] mb-5">
        <SectionTitle sectionTitle="Services" description={description}/>
        <div class="grid md:grid-cols-2 gap-10">
            {
                cards.map((card) => (
                        <ServiceCard
                                index={card.index}
                                titleTop={card.titleTop}
                                titleBottom={card.titleBottom}
                                img={card.img}
                                alt={card.alt}
                                link={card.link}
                        />
                ))
            }
        </div>
    </div>
</Section>
